In [2]:
from nba_api.stats.endpoints import leaguestandings
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
standings = leaguestandings.LeagueStandings()
standings_data = standings.get_data_frames()[0]

In [4]:
print(len(standings.get_data_frames()))

1

In [5]:
# Head ( first 5 rows),
standings_data.head()

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,Division,...,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,PreAS,PostAS
0,00,22024,1610612739,Cleveland,Cavaliers,East,21-4,1,,Central,...,None,None,None,None,None,5-0,12-3,12-1,31-4,None
1,00,22024,1610612760,Oklahoma City,Thunder,West,19-5,1,,Northwest,...,None,None,None,None,None,4-0,11-4,12-1,30-5,None
2,00,22024,1610612738,Boston,Celtics,East,22-7,2,,Atlantic,...,None,None,None,None,None,4-1,12-2,8-6,26-10,None
3,00,22024,1610612745,Houston,Rockets,West,15-8,2,,Southwest,...,None,None,None,None,None,3-2,11-4,7-5,24-12,None
4,00,22024,1610612763,Memphis,Grizzlies,West,11-10,3,,Southwest,...,None,None,None,None,None,3-3,10-4,10-4,24-13,None

In [6]:
#Tail (last 5 rows)
standings_data.tail()

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,Division,...,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,PreAS,PostAS
25,00,22024,1610612766,Charlotte,Hornets,East,6-24,13,,Southeast,...,None,None,None,None,None,2-2,4-12,1-11,8-27,None
26,00,22024,1610612761,Toronto,Raptors,East,5-17,14,,Atlantic,...,None,None,None,None,None,1-4,4-11,2-11,8-28,None
27,00,22024,1610612762,Utah,Jazz,West,3-21,14,,Northwest,...,None,None,None,None,None,0-5,4-10,3-9,9-25,None
28,00,22024,1610612764,Washington,Wizards,East,5-17,15,,Southeast,...,None,None,None,None,None,2-2,0-14,3-9,6-28,None
29,00,22024,1610612740,New Orleans,Pelicans,West,3-18,15,,Southwest,...,None,None,None,None,None,2-3,2-13,1-12,7-30,None

.info() - prints info about the dataframe

In [8]:
standings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 81 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LeagueID                 30 non-null     object
 1   SeasonID                 30 non-null     object
 2   TeamID                   30 non-null     int64
 3   TeamCity                 30 non-null     object
 4   TeamName                 30 non-null     object
 5   Conference               30 non-null     object
 6   ConferenceRecord         30 non-null     object
 7   PlayoffRank              30 non-null     int64
 8   ClinchIndicator          30 non-null     object
 9   Division                 30 non-null     object
 10  DivisionRecord           30 non-null     object
 11  DivisionRank             30 non-null     int64
 12  WINS                     30 non-null     int64
 13  LOSSES                   30 non-null     int64
 14  WinPCT                   30 non-null     float64
 15  LeagueRank               8 non-null      float64
 16  Record                   30 non-null     object
 17  HOME                     30 non-null     object
 18  ROAD                     30 non-null     object
 19  L10                      30 non-null     object
 20  Last10Home               30 non-null     object
 21  Last10Road               30 non-null     object
 22  OT                       30 non-null     object
 23  ThreePTSOrLess           30 non-null     object
 24  TenPTSOrMore             30 non-null     object
 25  LongHomeStreak           30 non-null     int64
 26  strLongHomeStreak        30 non-null     object
 27  LongRoadStreak           30 non-null     int64
 28  strLongRoadStreak        30 non-null     object
 29  LongWinStreak            30 non-null     int64
 30  LongLossStreak           30 non-null     int64
 31  CurrentHomeStreak        30 non-null     int64
 32  strCurrentHomeStreak     30 non-null     object
 33  CurrentRoadStreak        30 non-null     int64
 34  strCurrentRoadStreak     30 non-null     object
 35  CurrentStreak            30 non-null     int64
 36  strCurrentStreak         30 non-null     object
 37  ConferenceGamesBack      30 non-null     float64
 38  DivisionGamesBack        30 non-null     float64
 39  ClinchedConferenceTitle  30 non-null     int64
 40  ClinchedDivisionTitle    30 non-null     int64
 41  ClinchedPlayoffBirth     30 non-null     int64
 42  EliminatedConference     30 non-null     int64
 43  EliminatedDivision       30 non-null     int64
 44  AheadAtHalf              30 non-null     object
 45  BehindAtHalf             30 non-null     object
 46  TiedAtHalf               30 non-null     object
 47  AheadAtThird             30 non-null     object
 48  BehindAtThird            30 non-null     object
 49  TiedAtThird              30 non-null     object
 50  Score100PTS              30 non-null     object
 51  OppScore100PTS           30 non-null     object
 52  OppOver500               30 non-null     object
 53  LeadInFGPCT              30 non-null     object
 54  LeadInReb                30 non-null     object
 55  FewerTurnovers           30 non-null     object
 56  PointsPG                 30 non-null     float64
 57  OppPointsPG              30 non-null     float64
 58  DiffPointsPG             30 non-null     float64
 59  vsEast                   30 non-null     object
 60  vsAtlantic               30 non-null     object
 61  vsCentral                30 non-null     object
 62  vsSoutheast              30 non-null     object
 63  vsWest                   30 non-null     object
 64  vsNorthwest              30 non-null     object
 65  vsPacific                30 non-null     object
 66  vsSouthwest              30 non-null     object
 67  Jan                      30 non-null     object
 68  Feb                      0 non-null      object
 69  Mar                      0 non-null      object
 70  Apr                      0 non-null      object
 71  May                      0 non-null      object
 72  Jun                      0 non-null      object
 73  Jul                      0 non-null      object
 74  Aug                      0 non-null      object
 75  Sep                      0 non-null      object
 76  Oct                      30 non-null     object
 77  Nov                      30 non-null     object
 78  Dec                      30 non-null     object
 79  PreAS                    30 non-null     object
 80  PostAS                   0 non-null      object
dtypes: float64(7), int64(17), object(57)
memory usage: 19.1+ KB

.shape - dimensions of the data frame

In [10]:
standings_data.shape

(30, 81)

.describe() - describes the data frame i.e a summary.

In [11]:
standings_data.describe()

,TeamID,PlayoffRank,DivisionRank,WINS,LOSSES,WinPCT,LeagueRank,LongHomeStreak,LongRoadStreak,LongWinStreak,...,ConferenceGamesBack,DivisionGamesBack,ClinchedConferenceTitle,ClinchedDivisionTitle,ClinchedPlayoffBirth,EliminatedConference,EliminatedDivision,PointsPG,OppPointsPG,DiffPointsPG
count,3.000000e+01,30.000000,30.00000,30.000000,30.000000,30.000000,8.000000,30.000000,30.000000,30.000000,...,30.000000,30.000000,30.0,30.0,30.0,30.0,30.0,30.000000,30.000000,30.000000
mean,1.610613e+09,8.000000,3.00000,17.833333,17.833333,0.499133,2.500000,2.333333,-1.133333,5.333333,...,13.000000,7.500000,0.0,0.0,0.0,0.0,0.0,112.893333,112.936667,-0.040000
std,8.803408e+00,4.394354,1.43839,6.303165,6.114332,0.174898,1.195229,6.030573,6.441960,3.187620,...,6.249138,6.855655,0.0,0.0,0.0,0.0,0.0,4.775652,4.803554,6.349456
min,1.610613e+09,1.000000,1.00000,6.000000,4.000000,0.176000,1.000000,-10.000000,-15.000000,2.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,105.200000,103.000000,-13.200000
25%,1.610613e+09,4.250000,2.00000,14.500000,16.000000,0.423250,1.750000,-3.750000,-6.000000,3.250000,...,10.125000,0.750000,0.0,0.0,0.0,0.0,0.0,109.100000,110.550000,-3.275000
50%,1.610613e+09,8.000000,3.00000,18.000000,17.500000,0.507000,2.500000,4.000000,2.000000,5.000000,...,12.750000,4.750000,0.0,0.0,0.0,0.0,0.0,111.900000,112.850000,0.350000
75%,1.610613e+09,11.750000,4.00000,20.750000,19.750000,0.576250,3.250000,7.000000,3.750000,6.000000,...,16.000000,13.000000,0.0,0.0,0.0,0.0,0.0,116.300000,116.625000,3.175000
max,1.610613e+09,15.000000,5.00000,31.000000,30.000000,0.886000,4.000000,10.000000,8.000000,15.000000,...,24.500000,20.500000,0.0,0.0,0.0,0.0,0.0,123.100000,122.200000,12.100000